### Import Libraries

In [55]:
import pandas as pd
import pyodbc
import numpy as np
import ast

### Load cleaned CSV files

In [56]:
anime_df = pd.read_csv('../data/cleaned_anime.csv')
ratings_df = pd.read_csv('../data/cleaned_ratings.csv')

In [57]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12269 entries, 0 to 12268
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   anime_id    12269 non-null  int64
 1   name        12269 non-null  object
 2   genre       12269 non-null  object
 3   type        12269 non-null  object
 4   episodes    12269 non-null  object
 5   rating      12064 non-null  float64
 6   members     12269 non-null  int64
 7   genre_list  12269 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 766.9+ KB

In [58]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813736 entries, 0 to 7813735
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [59]:
anime_values_df = anime_df.copy()

In [60]:
anime_values_df.drop(['genre','genre_list'],axis=1,inplace=True)
anime_values_df.reset_index(drop=True,inplace=True)

In [61]:
# Strip spaces and convert invalid entries to NaN
anime_values_df['rating'] = anime_values_df['rating'].astype(str).str.strip()
anime_values_df['rating'] = anime_values_df['rating'].replace(
    ['', ' ', 'nan', 'NaN', 'None', 'NONE', 'null', 'NULL', '?'], 
    np.nan
)
# Convert to float
anime_values_df['rating'] = pd.to_numeric(anime_values_df['rating'], errors='coerce')
# Replace NaN with Python None for SQL insertion
anime_values_df['rating'] = anime_values_df['rating'].where(pd.notnull(anime_df['rating']), None)

### Connect to sql server

In [62]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-RES15OPT\SQLEXPRESS;'
    'DATABASE=AnimeDB;'
    'Trusted_Connection=yes;'
)

In [63]:
cursor = conn.cursor()

In [64]:
cursor.execute("select DB_NAME()")
print(cursor.fetchone())

('AnimeDB',)

### Insert into Anime Table

In [81]:

cursor.fast_executemany = True

anime_values = list(anime_df[['anime_id','name','type','episodes','rating','members']].itertuples(index=False, name=None))
count = 0 
for row in anime_values:
    try:
        cursor.execute("""
           truncate table anime
        """, row)
    except Exception as e:
        print(f" Problem row:{count+1}", row)
        print("Error:", e)
        continue  # skip bad row

conn.commit()
print(" Anime table ETL complete!")

 Problem row:1 (32281, 'Kimi no Na wa.', 'Movie', '1', 9.37, 200630)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5114, 'Fullmetal Alchemist: Brotherhood', 'TV', '64', 9.26, 793665)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28977, 'Gintama°', 'TV', '51', 9.25, 114262)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (9253, 'Steins;Gate', 'TV', '24', 9.17, 673572)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (9969, 'Gintama&#039;', 'TV', '51', 9.16, 151266)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32935, 'Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou', 'TV', '10', 9.15, 93351)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11061, 'Hunter x Hunter (2011)', 'TV', '148', 9.13, 425855)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (820, 'Ginga Eiyuu Densetsu', 'OVA', '110', 9.11, 80679)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (15335, 'Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare', 'Movie', '1', 9.1, 72534)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (15417, 'Gintama&#039;: Enchousen', 'TV', '13', 9.11, 81109)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (4181, 'Clannad: After Story', 'TV', '24', 9.06, 456749)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28851, 'Koe no Katachi', 'Movie', '1', 9.05, 102733)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (918, 'Gintama', 'TV', '201', 9.04, 336376)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2904, 'Code Geass: Hangyaku no Lelouch R2', 'TV', '25', 8.98, 572888)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28891, 'Haikyuu!! Second Season', 'TV', '25', 8.93, 179342)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (199, 'Sen to Chihiro no Kamikakushi', 'Movie', '1', 8.93, 466254)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (23273, 'Shigatsu wa Kimi no Uso', 'TV', '22', 8.92, 416397)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (24701, 'Mushishi Zoku Shou 2nd Season', 'TV', '10', 8.88, 75894)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (12355, 'Ookami Kodomo no Ame to Yuki', 'Movie', '1', 8.84, 226193)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (1575, 'Code Geass: Hangyaku no Lelouch', 'TV', '25', 8.83, 715151)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (263, 'Hajime no Ippo', 'TV', '75', 8.83, 157670)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (44, 'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen', 'OVA', '4', 8.83, 129307)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (1, 'Cowboy Bebop', 'TV', '26', 8.82, 486824)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30276, 'One Punch Man', 'TV', '12', 8.82, 552458)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (164, 'Mononoke Hime', 'Movie', '1', 8.81, 339556)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (7311, 'Suzumiya Haruhi no Shoushitsu', 'Movie', '1', 8.81, 240297)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (17074, 'Monogatari Series: Second Season', 'TV', '26', 8.8, 205959)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (21939, 'Mushishi Zoku Shou', 'TV', '10', 8.8, 101351)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (457, 'Mushishi', 'TV', '26', 8.78, 300030)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2001, 'Tengen Toppa Gurren Lagann', 'TV', '27', 8.78, 562962)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (245, 'Great Teacher Onizuka', 'TV', '43', 8.77, 268487)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32983, 'Natsume Yuujinchou Go', 'TV', '13', 8.76, 38865)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5258, 'Hajime no Ippo: New Challenger', 'TV', '26', 8.75, 88995)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28957, 'Mushishi Zoku Shou: Suzu no Shizuku', 'Movie', '1', 8.75, 32266)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11665, 'Natsume Yuujinchou Shi', 'TV', '13', 8.75, 98431)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (431, 'Howl no Ugoku Shiro', 'Movie', '1', 8.74, 333186)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11741, 'Fate/Zero 2nd Season', 'TV', '12', 8.73, 340973)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (31757, 'Kizumonogatari II: Nekketsu-hen', 'Movie', '1', 8.73, 34347)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (19, 'Monster', 'TV', '74', 8.72, 247562)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (12365, 'Bakuman. 3rd Season', 'TV', '25', 8.71, 133620)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (1535, 'Death Note', 'TV', '37', 8.71, 1013917)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32366, 'Gintama°: Aizome Kaori-hen', 'OVA', '2', 8.69, 16947)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30654, 'Ansatsu Kyoushitsu (TV) 2nd Season', 'TV', '25', 8.68, 176475)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (20583, 'Haikyuu!!', 'TV', '25', 8.68, 284498)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (19647, 'Hajime no Ippo: Rising', 'TV', '25', 8.68, 66756)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (4282, 'Kara no Kyoukai 5: Mujun Rasen', 'Movie', '1', 8.68, 111074)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10379, 'Natsume Yuujinchou San', 'TV', '13', 8.67, 102322)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (22135, 'Ping Pong The Animation', 'TV', '11', 8.67, 97187)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (21329, 'Mushishi Special: Hihamukage', 'Special', '1', 8.66, 49036)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (31043, 'Boku dake ga Inai Machi', 'TV', '12', 8.65, 402381)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (7785, 'Yojouhan Shinwa Taikei', 'TV', '11', 8.65, 122531)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (3297, 'Aria The Origination', 'TV', '13', 8.64, 56162)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30709, 'Kamisama Hajimemashita: Kako-hen', 'OVA', '4', 8.64, 33422)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (6114, 'Rainbow: Nisha Rokubou no Shichinin', 'TV', '26', 8.64, 139474)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (31240, 'Re:Zero kara Hajimeru Isekai Seikatsu', 'TV', '25', 8.64, 355839)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (4565, 'Tengen Toppa Gurren Lagann Movie: Lagann-hen', 'Movie', '1', 8.64, 82253)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5300, 'Zoku Natsume Yuujinchou', 'TV', '13', 8.64, 114173)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (9989, 'Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai.', 'TV', '11', 8.62, 463835)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (24415, 'Kuroko no Basket 3rd Season', 'TV', '25', 8.62, 184525)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11577, 'Steins;Gate Movie: Fuka Ryouiki no Déjà vu', 'Movie', '1', 8.61, 192424)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10408, 'Hotarubi no Mori e', 'Movie', '1', 8.61, 197439)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28171, 'Shokugeki no Souma', 'TV', '24', 8.61, 348951)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32995, 'Yuri!!! on Ice', 'TV', '12', 8.61, 103178)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (21899, 'Gintama: Yorinuki Gintama-san on Theater 2D', 'Movie', '2', 8.6, 11104)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (26055, 'JoJo no Kimyou na Bouken: Stardust Crusaders 2nd Season', 'TV', '24', 8.6, 93657)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (7472, 'Gintama Movie: Shinyaku Benizakura-hen', 'Movie', '1', 8.59, 51185)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (777, 'Hellsing Ultimate', 'OVA', '10', 8.59, 297454)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (22535, 'Kiseijuu: Sei no Kakuritsu', 'TV', '24', 8.59, 425457)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28735, 'Shouwa Genroku Rakugo Shinjuu', 'TV', '13', 8.59, 71295)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (12431, 'Uchuu Kyoudai', 'TV', '99', 8.59, 72958)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (28805, 'Bakemono no Ko', 'Movie', '1', 8.58, 80825)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (578, 'Hotaru no Haka', 'Movie', '1', 8.58, 174878)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (16894, 'Kuroko no Basket 2nd Season', 'TV', '25', 8.58, 243325)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5028, 'Major S5', 'TV', '25', 8.58, 28653)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (21, 'One Piece', 'TV', 'Unknown', 8.58, 504862)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (801, 'Ghost in the Shell: Stand Alone Complex 2nd GIG', 'TV', '26', 8.57, 113993)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (31933, 'JoJo no Kimyou na Bouken: Diamond wa Kudakenai', 'TV', '39', 8.57, 74074)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5205, 'Kara no Kyoukai 7: Satsujin Kousatsu (Kou)', 'Movie', '1', 8.57, 95658)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (17389, 'Kingdom 2nd Season', 'TV', '39', 8.57, 31234)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (170, 'Slam Dunk', 'TV', '101', 8.56, 82570)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10162, 'Usagi Drop', 'TV', '11', 8.56, 194855)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (18617, 'Girls und Panzer der Film', 'Movie', '1', 8.55, 25641)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32182, 'Mob Psycho 100', 'TV', '12', 8.55, 193716)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (877, 'Nana', 'TV', '47', 8.55, 197256)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2251, 'Baccano!', 'TV', '13', 8.54, 363215)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (24687, 'Mushishi Zoku Shou: Odoro no Michi', 'Special', '1', 8.54, 34011)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (16498, 'Shingeki no Kyojin', 'TV', '25', 8.54, 896229)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10030, 'Bakuman. 2nd Season', 'TV', '25', 8.53, 151561)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (5941, 'Cross Game', 'TV', '50', 8.53, 53108)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30346, 'Doukyuusei (Movie)', 'Movie', '1', 8.53, 28864)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (3784, 'Evangelion: 2.0 You Can (Not) Advance', 'Movie', '1', 8.53, 182224)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (13125, 'Shinsekai yori', 'TV', '25', 8.53, 288376)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (12029, 'Uchuu Senkan Yamato 2199', 'OVA', '26', 8.53, 44223)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (14397, 'Chihayafuru 2', 'TV', '25', 8.52, 86074)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10087, 'Fate/Zero', 'TV', '13', 8.51, 453630)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (14719, 'JoJo no Kimyou na Bouken (TV)', 'TV', '26', 8.51, 190197)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (9756, 'Mahou Shoujo Madoka★Magica', 'TV', '12', 8.51, 462974)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (10165, 'Nichijou', 'TV', '26', 8.52, 254436)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (13601, 'Psycho-Pass', 'TV', '22', 8.5, 509109)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (22789, 'Barakamon', 'TV', '12', 8.5, 225927)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30230, 'Diamond no Ace: Second Season', 'TV', '51', 8.5, 38531)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (18115, 'Magi: The Kingdom of Magic', 'TV', '25', 8.5, 245026)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11981, 'Mahou Shoujo Madoka★Magica Movie 3: Hangyaku no Monogatari', 'Movie', '1', 8.5, 135735)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11917, 'Major: World Series', 'OVA', '2', 8.5, 13405)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (205, 'Samurai Champloo', 'TV', '26', 8.5, 390076)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (32282, 'Shokugeki no Souma: Ni no Sara', 'TV', '13', 8.5, 185015)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (6594, 'Katanagatari', 'TV', '12', 8.49, 207241)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (11979, 'Mahou Shoujo Madoka★Magica Movie 2: Eien no Monogatari', 'Movie', '1', 8.49, 85361)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (7655, 'Major S6', 'TV', '25', 8.49, 24788)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2246, 'Mononoke', 'TV', '12', 8.49, 88850)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (25835, 'Shirobako', 'TV', '24', 8.49, 146895)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2921, 'Ashita no Joe 2', 'TV', '47', 8.48, 6259)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (136, 'Hunter x Hunter', 'TV', '62', 8.48, 166255)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (30503, 'Noragami Aragoto', 'TV', '13', 8.48, 299434)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (12531, 'Sakamichi no Apollon', 'TV', '12', 8.48, 146592)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (523, 'Tonari no Totoro', 'Movie', '1', 8.48, 271484)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (467, 'Ghost in the Shell: Stand Alone Complex', 'TV', '26', 8.47, 194491)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (572, 'Kaze no Tani no Nausicaä', 'Movie', '1', 8.47, 143273)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (19815, 'No Game No Life', 'TV', '12', 8.47, 602291)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (2559, 'Romeo no Aoi Sora', 'TV', '33', 8.47, 15074)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')
 Problem row:1 (392, 'Yuu☆Yuu☆Hakusho', 'TV', '112', 8.47, 195017)
Error: ('The SQL contains 0 parameter markers, but 6 parameters were supplied', 'HY000')

### Insert into genres table

In [76]:
anime_df['genre_list'] = anime_df['genre_list'].apply(ast.literal_eval)

all_genres = anime_df.explode('genre_list').reset_index(drop=True)
genres_df = pd.DataFrame({'genre_name':all_genres['genre_list']})
genres_df.head()

      genre_name
0          drama
1        romance
2         school
3   supernatural
4         action

In [77]:
genres_df['genre_name'] = genres_df['genre_name'].str.strip()
genres_df.drop_duplicates(ignore_index=True,inplace=True)

In [78]:
genres_df= genres_df.sort_values(by='genre_name',axis=0)

In [79]:
genres_df.reset_index(drop=True,inplace=True)
genres_df

       genre_name
0          action
1       adventure
2            cars
3          comedy
4        dementia
5          demons
6           drama
7           ecchi
8         fantasy
9            game
10          harem
11         hentai
12     historical
13         horror
14          josei
15           kids
16          magic
17   martial arts
18          mecha
19       military
20          music
21        mystery
22         parody
23         police
24  psychological
25        romance
26        samurai
27         school
28         sci-fi
29         seinen
30         shoujo
31      shoujo ai
32        shounen
33     shounen ai
34  slice of life
35          space
36         sports
37    super power
38   supernatural
39       thriller
40        unknown
41        vampire
42           yaoi
43           yuri

In [ ]:
print("inserting genres...")

genre_values = list(genres_df.itertuples(index=False,name=None))

cursor.executemany(
    '''
        INSERT INTO Genre(genre_name)
        VALUES (?)
    ''',genre_values
)

conn.commit()

inserting genres...

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot truncate table 'genres' because it is being referenced by a FOREIGN KEY constraint. (4712) (SQLExecDirectW)")

In [82]:
cursor.execute('select * from genres')
cursor.fetchall()

[(1, "['action', ' adventure', ' cars', ' comedy', ' sci-fi', ' shounen']"),
 (2, "['action', ' adventure', ' cars', ' mecha', ' sci-fi', ' shounen', ' sports']"),
 (3, "['action', ' adventure', ' cars', ' sci-fi']"),
 (4, "['action', ' adventure', ' comedy', ' demons', ' drama', ' ecchi', ' horror', ' mystery', ' romance', ' sci-fi']"),
 (5, "['action', ' adventure', ' comedy', ' demons', ' fantasy', ' magic', ' romance', ' shounen', ' supernatural']"),
 (6, "['action', ' adventure', ' comedy', ' demons', ' fantasy', ' magic']"),
 (7, "['action', ' adventure', ' comedy', ' demons', ' fantasy', ' martial arts', ' shounen', ' super power']"),
 (8, "['action', ' adventure', ' comedy', ' demons', ' magic', ' super power']"),
 (9, "['action', ' adventure', ' comedy', ' demons', ' shounen', ' supernatural']"),
 (10, "['action', ' adventure', ' comedy', ' demons', ' supernatural', ' vampire']"),
 (11, "['action', ' adventure', ' comedy', ' drama', ' ecchi', ' fantasy', ' harem', ' magic', ' romance', ' school']"),
 (12, "['action', ' adventure', ' comedy', ' drama', ' ecchi', ' mecha', ' romance', ' sci-fi']"),
 (13, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' historical']"),
 (14, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' kids']"),
 (15, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' magic', ' military', ' shounen']"),
 (16, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' shoujo']"),
 (17, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' shounen', ' super power']"),
 (18, "['action', ' adventure', ' comedy', ' drama', ' fantasy', ' shounen']"),
 (19, "['action', ' adventure', ' comedy', ' drama', ' harem', ' martial arts', ' mecha', ' romance', ' sci-fi', ' shounen']"),
 (20, "['action', ' adventure', ' comedy', ' drama', ' historical', ' military', ' romance']"),
 (21, "['action', ' adventure', ' comedy', ' drama', ' horror', ' mecha', ' mystery', ' psychological', ' sci-fi', ' shounen']"),
 (22, "['action', ' adventure', ' comedy', ' drama', ' josei', ' supernatural']"),
 (23, "['action', ' adventure', ' comedy', ' drama', ' mecha', ' military', ' music', ' romance', ' sci-fi', ' shounen']"),
 (24, "['action', ' adventure', ' comedy', ' drama', ' mecha', ' music', ' sci-fi', ' shounen']"),
 (25, "['action', ' adventure', ' comedy', ' drama', ' mecha', ' sci-fi', ' shounen']"),
 (26, "['action', ' adventure', ' comedy', ' drama', ' romance', ' sci-fi', ' space']"),
 (27, "['action', ' adventure', ' comedy', ' drama', ' romance', ' sci-fi']"),
 (28, "['action', ' adventure', ' comedy', ' drama', ' school', ' sci-fi', ' shounen', ' sports']"),
 (29, "['action', ' adventure', ' comedy', ' drama', ' sci-fi', ' shounen']"),
 (30, "['action', ' adventure', ' comedy', ' drama', ' sci-fi', ' space']"),
 (31, "['action', ' adventure', ' comedy', ' drama', ' sci-fi', ' super power']"),
 (32, "['action', ' adventure', ' comedy', ' drama', ' sci-fi']"),
 (33, "['action', ' adventure', ' comedy', ' drama', ' seinen']"),
 (34, "['action', ' adventure', ' comedy', ' drama', ' shounen', ' supernatural']"),
 (35, "['action', ' adventure', ' comedy', ' drama', ' shounen']"),
 (36, "['action', ' adventure', ' comedy', ' drama']"),
 (37, "['action', ' adventure', ' comedy', ' ecchi', ' fantasy', ' harem', ' magic', ' romance', ' school']"),
 (38, "['action', ' adventure', ' comedy', ' ecchi', ' fantasy', ' harem', ' magic', ' romance', ' shounen', ' super power']"),
 (39, "['action', ' adventure', ' comedy', ' ecchi', ' fantasy', ' magic', ' sci-fi', ' super power']"),
 (40, "['action', ' adventure', ' comedy', ' ecchi', ' fantasy', ' romance', ' sci-fi', ' space']"),
 (41, "['action', ' adventure', ' comedy', ' ecchi', ' fantasy', ' seinen']"),
 (42, "['action', ' adventure', ' comedy', ' ecchi', ' game', ' parody', ' school']"),
 (43, "['action', ' adventure', ' comedy', ' ecchi', ' kids', ' magic', ' romance', ' super power', ' supernatural']"),
 (44, "['action', ' adventure', ' comedy', ' ecchi', ' magic']"),
 (45, "['action', ' adventure', ' comedy', ' ecchi', ' mecha', ' military', ' romance', ' sci-fi']"),
 (46, "['action', ' adventure', ' comedy', ' ecchi', ' mecha', ' sci-fi', ' space']"),
 (47, "['action', ' adventure', ' comedy', ' ecchi', ' parody', ' seinen']"),
 (48, "['action', ' adventure', ' comedy', ' ecchi', ' police', ' sci-fi', ' shounen']"),
 (49, "['action', ' adventure', ' comedy', ' ecchi', ' police', ' sci-fi']"),
 (50, "['action', ' adventure', ' comedy', ' ecchi', ' samurai', ' seinen']"),
 (51, "['action', ' adventure', ' comedy', ' ecchi', ' sci-fi', ' shounen']"),
 (52, "['action', ' adventure', ' comedy', ' ecchi', ' sci-fi']"),
 (53, "['action', ' adventure', ' comedy', ' ecchi', ' shounen']"),
 (54, "['action', ' adventure', ' comedy', ' ecchi']"),
 (55, "['action', ' adventure', ' comedy', ' fantasy', ' game']"),
 (56, "['action', ' adventure', ' comedy', ' fantasy', ' hentai', ' magic', ' supernatural']"),
 (57, "['action', ' adventure', ' comedy', ' fantasy', ' historical', ' samurai', ' seinen']"),
 (58, "['action', ' adventure', ' comedy', ' fantasy', ' kids', ' parody', ' sci-fi', ' super power']"),
 (59, "['action', ' adventure', ' comedy', ' fantasy', ' kids', ' parody', ' sports']"),
 (60, "['action', ' adventure', ' comedy', ' fantasy', ' kids', ' sci-fi']"),
 (61, "['action', ' adventure', ' comedy', ' fantasy', ' kids']"),
 (62, "['action', ' adventure', ' comedy', ' fantasy', ' magic', ' sci-fi', ' shounen', ' super power']"),
 (63, "['action', ' adventure', ' comedy', ' fantasy', ' magic', ' shounen']"),
 (64, "['action', ' adventure', ' comedy', ' fantasy', ' magic']"),
 (65, "['action', ' adventure', ' comedy', ' fantasy', ' martial arts', ' sci-fi', ' shounen', ' super power']"),
 (66, "['action', ' adventure', ' comedy', ' fantasy', ' martial arts', ' shounen', ' slice of life', ' super power']"),
 (67, "['action', ' adventure', ' comedy', ' fantasy', ' martial arts', ' shounen', ' super power']"),
 (68, "['action', ' adventure', ' comedy', ' fantasy', ' mecha', ' sci-fi', ' shounen']"),
 (69, "['action', ' adventure', ' comedy', ' fantasy', ' mecha', ' sci-fi']"),
 (70, "['action', ' adventure', ' comedy', ' fantasy', ' mecha']"),
 (71, "['action', ' adventure', ' comedy', ' fantasy', ' parody']"),
 (72, "['action', ' adventure', ' comedy', ' fantasy', ' romance', ' shoujo']"),
 (73, "['action', ' adventure', ' comedy', ' fantasy', ' romance', ' shounen']"),
 (74, "['action', ' adventure', ' comedy', ' fantasy', ' romance']"),
 (75, "['action', ' adventure', ' comedy', ' fantasy', ' school', ' sci-fi', ' shounen']"),
 (76, "['action', ' adventure', ' comedy', ' fantasy', ' sci-fi', ' shounen', ' super power']"),
 (77, "['action', ' adventure', ' comedy', ' fantasy', ' sci-fi', ' supernatural']"),
 (78, "['action', ' adventure', ' comedy', ' fantasy', ' sci-fi']"),
 (79, "['action', ' adventure', ' comedy', ' fantasy', ' shoujo']"),
 (80, "['action', ' adventure', ' comedy', ' fantasy', ' shounen', ' super power']"),
 (81, "['action', ' adventure', ' comedy', ' fantasy', ' shounen', ' supernatural']"),
 (82, "['action', ' adventure', ' comedy', ' fantasy', ' shounen']"),
 (83, "['action', ' adventure', ' comedy', ' fantasy']"),
 (84, "['action', ' adventure', ' comedy', ' game', ' mecha', ' sci-fi', ' shounen']"),
 (85, "['action', ' adventure', ' comedy', ' game', ' parody']"),
 (86, "['action', ' adventure', ' comedy', ' harem', ' mecha', ' sci-fi']"),
 (87, "['action', ' adventure', ' comedy', ' historical', ' martial arts', ' shounen']"),
 (88, "['action', ' adventure', ' comedy', ' historical', ' romance', ' samurai']"),
 (89, "['action', ' adventure', ' comedy', ' historical', ' samurai', ' shounen']"),
 (90, "['action', ' adventure', ' comedy', ' kids', ' mecha', ' sci-fi', ' shounen', ' super power']"),
 (91, "['action', ' adventure', ' comedy', ' kids', ' sci-fi', ' shounen']"),
 (92, "['action', ' adventure', ' comedy', ' kids', ' sports']"),
 (93, "['action', ' adventure', ' comedy', ' kids', ' super power']"),
 (94, "['action', ' adventure', ' comedy', ' kids']"),
 (95, "['action', ' adventure', ' comedy', ' magic', ' mecha', ' sci-fi']"),
 (96, "['action', ' adventure', ' comedy', ' magic', ' romance', ' sci-fi', ' shoujo']"),
 (97, "['action', ' adventure', ' comedy', ' magic', ' super power', ' supernatural']"),
 (98, "['action', ' adventure', ' comedy', ' martial arts', ' romance', ' sports']"),
 (99, "['action', ' adventure', ' comedy', ' martial arts', ' shounen', ' supernatural']"),
 (100, "['action', ' adventure', ' comedy', ' martial arts', ' shounen']"),
 (101, "['action', ' adventure', ' comedy', ' mecha', ' military', ' sci-fi', ' space']"),
 (102, "['action', ' adventure', ' comedy', ' mecha', ' military']"),
 (103, "['action', ' adventure', ' comedy', ' mecha', ' sci-fi', ' seinen']"),
 (104, "['action', ' adventure', ' comedy', ' mecha', ' sci-fi', ' shounen']"),
 (105, "['action', ' adventure', ' comedy', ' mecha', ' sci-fi', ' super power']"),
 (106, "['action', ' adventure', ' comedy', ' mecha', ' sci-fi']"),
 (107, "['action', ' adventure', ' comedy', ' mecha', ' shounen', ' space']"),
 (108, "['action', ' adventure', ' comedy', ' mecha']"),
 (109, "['action', ' adventure', ' comedy', ' military', ' music', ' shounen']"),
 (110, "['action', ' adventure', ' comedy', ' military', ' romance', ' sci-fi', ' space']"),
 (111, "['action', ' adventure', ' comedy', ' mystery', ' romance']"),
 (112, "['action', ' adventure', ' comedy', ' mystery', ' sci-fi', ' shounen']"),
 (113, "['action', ' adventure', ' comedy', ' mystery', ' sci-fi']"),
 (114, "['action', ' adventure', ' comedy', ' mystery', ' shounen']"),
 (115, "['action', ' adventure', ' comedy', ' mystery']"),
 (116, "['action', ' adventure', ' comedy', ' parody', ' sci-fi', ' shounen']"),
 (117, "['action', ' adventure', ' comedy', ' police', ' sci-fi']"),
 (118, "['action', ' adventure', ' comedy', ' police']"),
 (119, "['action', ' adventure', ' comedy', ' romance', ' sci-fi', ' super power']"),
 (120, "['action', ' adventure', ' comedy', ' romance', ' shounen']"),
 (121, "['action', ' adventure', ' comedy', ' school', ' supernatural']"),
 (122, "['action', ' adventure', ' comedy', ' sci-fi', ' shounen', ' sports']"),
 (123, "['action', ' adventure', ' comedy', ' sci-fi', ' shounen']"),
 (124, "['action', ' adventure', ' comedy', ' sci-fi', ' space']"),
 (125, "['action', ' adventure', ' comedy', ' sci-fi', ' super power']"),
 (126, "['action', ' adventure', ' comedy', ' sci-fi']"),
 (127, "['action', ' adventure', ' comedy', ' shounen', ' super power']"),
 (128, "['action', ' adventure', ' comedy', ' shounen', ' supernatural']"),
 (129, "['action', ' adventure', ' comedy', ' shounen']"),
 (130, "['action', ' adventure', ' comedy', ' space']"),
 (131, "['action', ' adventure', ' comedy', ' supernatural', ' vampire']"),
 (132, "['action', ' adventure', ' comedy']"),
 (133, "['action', ' adventure', ' dementia', ' historical', ' military', ' mystery', ' shounen', ' supernatural']"),
 (134, "['action', ' adventure', ' demons', ' drama', ' fantasy', ' horror', ' magic', ' military', ' romance', ' supernatural']"),
 (135, "['action', ' adventure', ' demons', ' drama', ' fantasy', ' horror', ' military', ' romance', ' seinen', ' supernatural']"),
 (136, "['action', ' adventure', ' demons', ' drama', ' fantasy', ' horror', ' military', ' seinen', ' supernatural']"),
 (137, "['action', ' adventure', ' demons', ' drama', ' horror', ' super power']"),
 (138, "['action', ' adventure', ' demons', ' fantasy', ' game', ' kids', ' magic', ' sci-fi', ' supernatural']"),
 (139, "['action', ' adventure', ' demons', ' fantasy', ' horror', ' romance']"),
 (140, "['action', ' adventure', ' demons', ' fantasy', ' horror', ' shoujo', ' supernatural']"),
 (141, "['action', ' adventure', ' demons', ' fantasy', ' magic', ' supernatural']"),
 (142, "['action', ' adventure', ' demons', ' fantasy', ' magic']"),
 (143, "['action', ' adventure', ' demons', ' fantasy', ' military', ' seinen', ' supernatural']"),
 (144, "['action', ' adventure', ' demons', ' fantasy', ' sci-fi', ' shounen', ' super power']"),
 (145, "['action', ' adventure', ' demons', ' fantasy', ' shounen', ' super power', ' supernatural']"),
 (146, "['action', ' adventure', ' demons', ' fantasy', ' shounen']"),
 (147, "['action', ' adventure', ' demons', ' game', ' shounen']"),
 (148, "['action', ' adventure', ' demons', ' historical', ' martial arts', ' samurai', ' shounen']"),
 (149, "['action', ' adventure', ' demons', ' horror', ' mecha', ' sci-fi', ' shounen']"),
 (150, "['action', ' adventure', ' demons', ' kids', ' super power']"),
 (151, "['action', ' adventure', ' drama', ' fantasy', ' historical', ' magic', ' shounen']"),
 (152, "['action', ' adventure', ' drama', ' fantasy', ' historical', ' romance']"),
 (153, "['action', ' adventure', ' drama', ' fantasy', ' historical', ' shounen', ' supernatural']"),
 (154, "['action', ' adventure', ' drama', ' fantasy', ' historical', ' shounen']"),
 (155, "['action', ' adventure', ' drama', ' fantasy', ' historical', ' supernatural']"),
 (156, "['action', ' adventure', ' drama', ' fantasy', ' historical']"),
 (157, "['action', ' adventure', ' drama', ' fantasy', ' kids']"),
 (158, "['action', ' adventure', ' drama', ' fantasy', ' magic', ' military', ' shounen']"),
 (159, "['action', ' adventure', ' drama', ' fantasy', ' magic', ' mystery', ' romance', ' shounen', ' supernatural']"),
 (160, "['action', ' adventure', ' drama', ' fantasy', ' magic', ' romance']"),
 (161, "['action', ' adventure', ' drama', ' fantasy', ' magic', ' seinen']"),
 (162, "['action', ' adventure', ' drama', ' fantasy', ' magic']"),
 (163, "['action', ' adventure', ' drama', ' fantasy', ' mystery', ' romance', ' shounen', ' supernatural']"),
 (164, "['action', ' adventure', ' drama', ' fantasy', ' mystery', ' sci-fi']"),
 (165, "['action', ' adventure', ' drama', ' fantasy', ' romance', ' shounen']"),
 (166, "['action', ' adventure', ' drama', ' fantasy', ' sci-fi']"),
 (167, "['action', ' adventure', ' drama', ' fantasy', ' shoujo']"),
 (168, "['action', ' adventure', ' drama', ' fantasy', ' shounen']"),
 (169, "['action', ' adventure', ' drama', ' fantasy']"),
 (170, "['action', ' adventure', ' drama', ' historical', ' martial arts', ' police', ' samurai', ' shounen', ' slice of life']"),
 (171, "['action', ' adventure', ' drama', ' historical', ' military', ' sci-fi']"),
 (172, "['action', ' adventure', ' drama', ' historical', ' mystery', ' romance', ' sci-fi']"),
 (173, "['action', ' adventure', ' drama', ' historical', ' romance']"),
 (174, "['action', ' adventure', ' drama', ' historical', ' samurai']"),
 (175, "['action', ' adventure', ' drama', ' historical', ' sci-fi', ' seinen']"),
 (176, "['action', ' adventure', ' drama', ' historical']"),
 (177, "['action', ' adventure', ' drama', ' horror', ' sci-fi']"),
 (178, "['action', ' adventure', ' drama', ' horror', ' supernatural']"),
 (179, "['action', ' adventure', ' drama', ' martial arts', ' romance', ' shounen']"),
 (180, "['action', ' adventure', ' drama', ' martial arts', ' shounen']"),
 (181, "['action', ' adventure', ' drama', ' martial arts']"),
 (182, "['action', ' adventure', ' drama', ' mecha', ' military', ' psychological', ' sci-fi', ' space']"),
 (183, "['action', ' adventure', ' drama', ' mecha', ' military', ' romance', ' sci-fi', ' shounen', ' space']"),
 (184, "['action', ' adventure', ' drama', ' mecha', ' military', ' sci-fi', ' space']"),
 (185, "['action', ' adventure', ' drama', ' mecha', ' military', ' sci-fi']"),
 (186, "['action', ' adventure', ' drama', ' mecha', ' sci-fi', ' shounen', ' space']"),
 (187, "['action', ' adventure', ' drama', ' mecha', ' sci-fi', ' shounen']"),
 (188, "['action', ' adventure', ' drama', ' mecha', ' sci-fi']"),
 (189, "['action', ' adventure', ' drama', ' military', ' romance']"),
 (190, "['action', ' adventure', ' drama', ' military', ' sci-fi', ' space']"),
 (191, "['action', ' adventure', ' drama', ' military', ' seinen']"),
 (192, "['action', ' adventure', ' drama', ' military', ' shounen']"),
 (193, "['action', ' adventure', ' drama', ' military', ' space']"),
 (194, "['action', ' adventure', ' drama', ' mystery', ' romance', ' sci-fi', ' shoujo', ' space']"),
 (195, "['action', ' adventure', ' drama', ' mystery', ' sci-fi', ' shoujo']"),
 (196, "['action', ' adventure', ' drama', ' psychological', ' sci-fi']"),
 (197, "['action', ' adventure', ' drama', ' romance', ' sci-fi']"),
 (198, "['action', ' adventure', ' drama', ' sci-fi', ' seinen', ' space']"),
 (199, "['action', ' adventure', ' drama', ' sci-fi', ' shounen', ' space']"),
 (200, "['action', ' adventure', ' drama', ' sci-fi', ' shounen']"),
 (201, "['action', ' adventure', ' drama', ' sci-fi', ' space']"),
 (202, "['action', ' adventure', ' drama', ' sci-fi', ' super power']"),
 (203, "['action', ' adventure', ' drama', ' sci-fi']"),
 (204, "['action', ' adventure', ' drama', ' seinen', ' thriller']"),
 (205, "['action', ' adventure', ' drama', ' shounen', ' supernatural']"),
 (206, "['action', ' adventure', ' drama', ' shounen']"),
 (207, "['action', ' adventure', ' ecchi', ' fantasy', ' magic', ' school', ' shounen']"),
 (208, "['action', ' adventure', ' ecchi', ' fantasy', ' parody', ' shounen']"),
 (209, "['action', ' adventure', ' ecchi', ' fantasy', ' shounen', ' supernatural']"),
 (210, "['action', ' adventure', ' ecchi', ' fantasy']"),
 (211, "['action', ' adventure', ' ecchi', ' magic', ' shounen', ' supernatural']"),
 (212, "['action', ' adventure', ' ecchi', ' mecha', ' sci-fi']"),
 (213, "['action', ' adventure', ' ecchi', ' shounen']"),
 (214, "['action', ' adventure', ' ecchi', ' supernatural']"),
 (215, "['action', ' adventure', ' fantasy', ' game', ' kids']"),
 (216, "['action', ' adventure', ' fantasy', ' game', ' magic', ' mystery', ' sci-fi']"),
 (217, "['action', ' adventure', ' fantasy', ' game', ' magic', ' shounen']"),
 (218, "['action', ' adventure', ' fantasy', ' game', ' magic', ' supernatural']"),
 (219, "['action', ' adventure', ' fantasy', ' game', ' romance']"),
 (220, "['action', ' adventure', ' fantasy', ' game', ' sci-fi']"),
 (221, "['action', ' adventure', ' fantasy', ' game', ' shounen']"),
 (222, "['action', ' adventure', ' fantasy', ' game']"),
 (223, "['action', ' adventure', ' fantasy', ' hentai']"),
 (224, "['action', ' adventure', ' fantasy', ' historical', ' martial arts']"),
 (225, "['action', ' adventure', ' fantasy', ' historical', ' military', ' sci-fi']"),
 (226, "['action', ' adventure', ' fantasy', ' historical', ' romance', ' samurai', ' supernatural']"),
 (227, "['action', ' adventure', ' fantasy', ' historical', ' sci-fi', ' supernatural']"),
 (228, "['action', ' adventure', ' fantasy', ' historical']"),
 (229, "['action', ' adventure', ' fantasy', ' horror', ' sci-fi']"),
 (230, "['action', ' adventure', ' fantasy', ' kids', ' magic', ' shoujo', ' super power']"),
 (231, "['action', ' adventure', ' fantasy', ' kids', ' magic', ' supernatural']"),
 (232, "['action', ' adventure', ' fantasy', ' kids', ' supernatural']"),
 (233, "['action', ' adventure', ' fantasy', ' kids']"),
 (234, "['action', ' adventure', ' fantasy', ' magic', ' martial arts', ' shounen']"),
 (235, "['action', ' adventure', ' fantasy', ' magic', ' mecha', ' sci-fi', ' shounen', ' space']"),
 (236, "['action', ' adventure', ' fantasy', ' magic', ' mecha', ' sci-fi']"),
 (237, "['action', ' adventure', ' fantasy', ' magic', ' mecha']"),
 (238, "['action', ' adventure', ' fantasy', ' magic', ' military']"),
 (239, "['action', ' adventure', ' fantasy', ' magic', ' mystery']"),
 (240, "['action', ' adventure', ' fantasy', ' magic', ' romance', ' shounen', ' supernatural']"),
 (241, "['action', ' adventure', ' fantasy', ' magic', ' sci-fi', ' vampire']"),
 (242, "['action', ' adventure', ' fantasy', ' magic', ' sci-fi']"),